.listContainer {
  padding: 3rem 0;

  border-radius: 0.5rem;
  background-color: #66cdaa;
  box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.4);

  text-align: center;
  color: #fff;
}

.listContainer h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.listContainer h3 {
  font-size: 2rem;
}

.listContainer li {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: 3fr 1fr;
  /* margin-bottom: 1rem; */
  padding: 2rem 3rem;

  /* background-color: #20B2AA; */
  /* border-bottom: 2px solid #20b2aa; */

  font-size: 2rem;
  color: white;

  position: relative;
}

.listContainer li::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  max-width: 90%;

  background-color: #20b2aa;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.actions {
  justify-self: end;
}

.listContainer span {
  margin-right: 1rem;
}

.listContainer button {
  display: inline-block;
  justify-self: end;
  padding: 0.8rem 1rem;

  border: none;
  border-radius: 3px;
  background-color: #007bff;

  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-family: inherit;
}

.deleteBtn:hover {
  background-color: #0056b3;
}
