.listContainer {
  padding: 3rem 0;

  border-radius: 0.5rem;
  background-color: #66cdaa;
  box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.4);

  text-align: center;
  color: #fff;
}

.listContainer h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.listContainer h3 {
  font-size: 2rem;
}

.listContainer li {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 2rem 3rem;

  font-size: 1.8rem;
  text-align: left;

  position: relative;
}

.listContainer li::after {
  content: '';
  display: block;
  height: 0.5px;
  width: 100%;
  max-width: 90%;

  background-color: #20b2aa;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.separator {
  margin: 0 0.5rem;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-self: end;
}

.icon {
  height: 3rem;
  width: 3rem;

  color: #d2691e;

  cursor: pointer;
  transition: color 0.1s linear;
}

.highlight {
  background-color: #007bff;
}
