.container {
  padding: 4rem 2rem;

  border-radius: 0.5rem;
  background-color: #66cdaa;
  box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.4);

  text-align: center;
}

.title {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

.book {
  display: grid;
  grid-template-columns: minmax(60rem, 3fr) repeat(2, 1fr);
  align-items: center;
  padding: 2rem 0;

  border-bottom: 1px solid #20b2aa;

  font-size: 1.8rem;
  text-align: left;
}

.separator {
  margin: 0 0.7rem;
}

.icon {
  display: block;
  height: 3rem;
  width: 3rem;
  margin-left: 2rem;

  color: #703133;
  cursor: pointer;
}

.highlight {
  background-color: #811ddb;
}
