.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr);
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
  padding: 4rem 2rem;

  border-radius: 0.5rem;
  background-color: #66cdaa;
  box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.4);
}

.input {
  padding: 1rem 2rem;

  border-radius: 0.2rem;

  font-family: inherit;
  font-size: 1.3rem;
}

.input::placeholder {
  font-size: 1.3rem;
}

.label {
  justify-self: center;

  font-size: 1.6rem;
  cursor: pointer;
}

.container button {
  justify-self: end;
}
