.filterContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3rem;
  padding: 4rem 2rem;

  border-radius: 0.5rem;
  background-color: #66cdaa;
  box-shadow: 5px 6px 8px 0px rgba(0, 0, 0, 0.4);

  color: #fff;
}

.filterContainer input {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;

  border-radius: 0.2rem;

  font-family: inherit;
  font-size: 1.3rem;
}

.filterContainer label {
  display: inline-block;

  font-size: 1.5rem;
  cursor: pointer;
}
